/*

STYLING
EVERYTHING

*/

:root {
  --purple: rgb(101, 32, 96, 1);
  --lightblue: rgba(61, 173, 180, 1);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*

END
OF
STYLING
EVERYTHING

*/

/*

NAVBAR
COMPONENT

*/

.navbar {
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background:  linear-gradient(30deg, var(--purple) 30%, var(--lightblue) 67%, var(--lightblue) 100%);
  font-family: 'Courier New', Courier, monospace;
}

.title {
  color: white;
  font-size: 20px;
  letter-spacing: 5px;
  font-family: 'Pinyon Script', cursive;
  font-style: oblique;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  padding: 6px 15px;
  margin-left: 20px;
}

/*navbar links buttons*/

/*Home Button*/
.btn-1 {
  color: white;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.btn-1:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-1:active {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
/*End of home button*/

/*Calender button*/
.btn-2 {
  color: white;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.btn-2:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-2:active {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
/*End of calender button*/

/*KanBan button*/
.btn-3 {
  color: white;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.btn-3:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-3:active {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
/*End of Kanban button*/

/*Notepad button*/
.btn-4 {
  color: white;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.btn-4:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.btn-4:active {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/*

END
OF
NAVBAR
COMPONENT

*/

/*

HOME
COMPONENT

*/

header {
  min-height: 100vh;
  width: 100%;
  background-color: antiquewhite;
  background-image: url(images/cool-background.svg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#title-1 {
  font-family: 'Tilt Prism', cursive;
  position: relative;
  top: 50px;
  left: 25px;
  font-size: 100px;
  letter-spacing: 1px;
  word-spacing: 3.5px;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  text-transform: none;
}

#title-2 {
  position: relative;
  font-family: 'Indie Flower', cursive;
  font-size: 120px;
  left: 25px;
  font-style: oblique;
  top: -40px;
  color: #ff419c;
}

#logo {
  position: relative;
  height: 300px;
  width: auto;
  top: -30px;
  left: 1100px;
} 

.main-subheading-1 {
  position: relative;
  left: 100px;
  font-family: 'Nomun Pen Script', cursive;
  color: #155291;
  font-size: 25px;
  top: 90px;
}

.main-subheading-2 {
  position: relative;
  left: 85px;
  font-family: 'Nomun Pen Script', cursive;
  color: #155291;
  font-size: 25px;
  top: 90px;

}

/*

END
OF
HOME
COMPONENT

*/

/*

CALENDAR
COMPONENT

*/


.calendar-heading {
  background-color: antiquewhite;
}

.calendar-title {
  font-family: 'Tilt Prism', cursive;
  position: relative;
  top: 0px;
  left: 25px;
  font-size: 100px;
  letter-spacing: 1px;
  word-spacing: 3.5px;
  text-decoration: none solid rgb(68, 68, 68);
  font-style: normal;
  text-transform: none;
}

.calendar-subheading {
  position: relative;
  font-family: 'Indie Flower', cursive;
  font-size: 70px;
  left: 25px;
  font-style: oblique;
  top: -60px;
  color: #ff419c;
}

.calendar-input {
  text-align: center;
  position: relative;
  top: -50px;
  display: flex;
  justify-content: space-around;
}

.calendar {
  background-color: antiquewhite;
  margin: 0;
  padding: 0;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  font-weight: bold;
}

/* add title input */

.calendar-add-title {
  height: 60px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  background-color: black;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.calendar-add-title:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
}

.calendar-add-title:active {
  letter-spacing: 3px;
  border-color: var(--purple);
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* end of add title input */

/* start date input */

.calendar-start-date {
  min-height: 60px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  background-color: black;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.calendar-start-date:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
}

.calendar-start-date:active {
  letter-spacing: 3px;
  border-color: var(--purple);
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* end of start date input */

/* end date input */

.calendar-end-date {
  min-height: 60px;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  background-color: black;
  color: white;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.calendar-end-date:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  border-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
}

.calendar-end-date:active {
  letter-spacing: 3px;
  border-color: var(--purple);
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93, 24, 220) 0px 7px 29px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* end of end date input */

/* add event button */

.calendar-add-event {
  color: white;
  position: relative;
  padding: 17px 40px;
  border-radius: 50px;
  border: 0;
  top: -10px;
  min-height: 60px;
  background-color: black;
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all .5s ease;
}

.calendar-add-event:hover {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.calendar-add-event:active {
  letter-spacing: 3px;
  background-color: var(--purple);
  color: var(--lightblue);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}

/* end of add event button */

/*

END
OF
CALENDAR
COMPONENT

*/
